.container {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  &-layout {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
}

.ct-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  &--midden {
    align-items: center;
  }

  &--center {
    justify-content: center;
  }

  &--medium-center {
    align-items: center;
    justify-content: center;
  }

  &--padding {
    > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &--col-three {
    margin-left: -12px;
    margin-right: -12px;

    .ct-column {
      width: 33.3333333%;
      padding: 12px;
    }
  }

  &--col-four {
    margin-left: -12px;
    margin-right: -12px;

    .ct-column {
      width: 25%;
      padding: 12px;
    }
  }

  &--col-five {
    margin-left: -12px;
    margin-right: -12px;

    .ct-column {
      width: 20%;
      padding: 12px;
    }
  }
}

@for $i from 1 through 12 {
  .ct-column-#{$i} {
    width: percentage($i/12);
    padding: 15px;
    @media screen and (max-width: 991px) {
      .ct-row--doubling > & {
        width: 100%;
      }
    }
  }
}

.site-main {
  padding-top: 150px;
  padding-bottom: 90px;
}


@media screen and (max-width: 991px) {
  .ct-row--doubling {
    .ct-column {
      width: 50%;
    }
  }
}