.site-footer {
  padding-top: 75px;
  background-color: #fff;

  &__row {
    display: flex;
    width: 100%;

    &--center {
      align-items: center;
    }
  }

  &__column {
    width: 100%;
  }

  &__content {
    padding-bottom: 45px;
  }

  &__description {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #222;
    font-family: $font__text;
    padding-right: 20px;
  }

  &__heading {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
    color: $color__heading;
  }

  &__widget {
    .textwidget {
      p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #222;
        font-family: $font__text;
        padding-right: 20px;
      }

      code {
        color: $color__primary;
        font-family: "Roboto", Sans-serif;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        line-height: 24px;
      }

      a {
        color: $color__secondary;
        font-family: $font__text;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        line-height: 20px;
        text-decoration: none;

        &:after {
          content: '→';
          color: $color__secondary;
          margin-left: 5px;
          transition: margin .3s ease-in-out;
        }

        &:hover {
          color: $color__secondary;

          &:after {
            margin-left: 10px;
          }
        }
      }
    }

    .menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 0;
      margin: 0;

      li {
        list-style: none;
        color: $color__primary;
        font-family: "Roboto", Sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 24px;

        a {
          color: $color__primary;
          text-decoration: none;
        }

        + li {
          &:before {
            content: "|";
            margin-left: 6px;
            margin-right: 3px;
          }
        }
      }
    }

    .zoom-social-icons-list {
      text-align: left;
    }
  }

  &__logo {
    display: flex;
    padding-left: 75px;

    > a {
      display: flex;
      justify-content: center;
      width: 50%;

      img {
        object-fit: contain;
      }
    }
  }

  &__menu {
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 0;
      margin: 0;

      li {
        list-style: none;
        color: $color__primary;
        font-family: "Roboto", Sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 24px;

        a {
          color: $color__primary;
          text-decoration: none;
        }

        + li {
          &:before {
            content: "|";
            margin-left: 6px;
            margin-right: 3px;
          }
        }
      }
    }
  }
}

.site-info {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  border-top: 1px solid #d3d5d7;
}

.site-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  color: $color__secondary;
  font-family: $font__text;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;

  &:after {
    content: '→';
    color: $color__secondary;
    margin-left: 5px;
    transition: margin .3s ease-in-out;
  }

  &:hover {
    color: $color__secondary;

    &:after {
      margin-left: 10px;
    }
  }
}

.site-copyright {
  color: $color__primary;
  font-family: "Roboto", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.site-social {
  display: flex;
  justify-content: center;
  align-items: center;

  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    svg {
      width: 25px;
      height: 25px;
    }
  }
}

@media screen and (max-width: 991px) {
  .site-footer {
    padding-top: 50px;

    &__row {
      flex-flow: wrap;

      &--center {
        .site-footer__column {
          margin-top: 0 !important;
        }
      }
    }

    &__menu {
      ul {
        justify-content: center;
      }
    }

    &__content {
      .site-footer {
        &__row {
          flex-flow: wrap-reverse;
        }
      }
    }

    &__column {
      width: 100%;

      + .site-footer__column {
        margin-top: 20px;
      }
    }

    &__logo {
      padding-left: 0;
    }
  }
}