.site-header {
  padding: 0 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all .5s;

  > .container{
    padding-top: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .site-branding {
    opacity: 0;
    transition: all .5s;

    img {
      width: auto;
      height: 54px;
    }
  }

  &.is-scroll {
    background-color: $color__primary;

    .site-branding {
      opacity: 1;
    }
  }

  &--white {
    .main-navigation {
      a {
        color: $color__primary;
      }

      ul ul li {
        a {
          color: #fff;
        }
      }

      ul {
        > li.menu-item-has-children {
          > a {
            &:after {
              border-top: 2px solid $color__primary;
              border-right: 2px solid $color__primary;
            }
          }
        }
      }
    }

    .menu-toggle {
      color: $color__primary;
    }

    &.is-scroll {
      .main-navigation {
        .menu > .menu-item > a {
          color: #fff;
        }

        ul {
          > li.menu-item-has-children {
            > a {
              &:after {
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
              }
            }
          }
        }
      }

      .menu-toggle {
        color: #fff;
      }

      .search-open {
        color: #fff;
      }
    }
  }
}

.header-topbar{
  background-color: #000;
  color: #fff;
  padding: 5px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .textwidget{
    *{
      margin: 0;
      padding: 0;
    }
  }
}

.site-topbar{
  &__heading{
    display: none;
  }
}

.search-open {
  display: flex !important;
  width: 25px;
  height: 25px;
  padding: 4px !important;
  transform: rotateY(180deg);

  svg {
    width: 100%;
    height: 100%;
  }
}

.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all .3s;

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    pointer-events: none;

    &:after, &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }

  &.is-open {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
  }

  .search-form {
    max-width: 620px;

    .search-field {
      font-size: 48px;
      height: auto;
      padding-right: 20px;
      background-color: #fff0;
      color: #fff;
      border: 0;
      text-align: center;

      &::placeholder {
        color: $color__secondary;
      }
    }

    .search-submit {
      display: none;
    }
  }
}

