.main-navigation {
  display: inline-flex;
  align-items: center;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    > li.menu-item-has-children {
      > a {
        display: flex;
        align-items: center;

        &:after {
          content: "";
          width: 7px;
          height: 7px;
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
          transform: rotate(135deg);
          display: block;
          margin-left: 10px;
          margin-top: -6px;
        }
      }
    }

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;
      background-color: $color__primary;
      flex-flow: column;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;

      ul {
        left: -999em;
        top: 0;
      }

      li {

        &:hover > ul,
        &.focus > ul {
          display: block;
          left: auto;
        }
      }

      a {
        white-space: nowrap;

        &:before {
          content: "";
          display: inline-block;
          width: 0;
          height: 2px;
          background-color: $color__secondary;
          margin-right: 0;
          transition: all .3s;
          margin-bottom: 5px;
        }

        &:hover {
          &:before {
            width: 20px;
            margin-right: 5px;
          }
        }
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;

    &:hover > ul,
    &.focus > ul {
      opacity: 1;
      visibility: visible;
    }
  }

  a {
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: #fff;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 991px) {

  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

.navigation {
  margin-top: 20px;

  .nav-previous a {
    &:before {
      content: '←';
      color: $color__secondary;
      margin-right: 5px;
      transition: margin .3s ease-in-out;
    }
  }

  .nav-next a {
    &:after {
      content: '→';
      color: $color__secondary;
      margin-left: 5px;
      font-weight: normal;
      transition: all .3s;
    }
  }

  a {
    &:hover {
      color: $color__primary;

      &:before {
        margin-right: 10px;
      }

      &:after {
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .menu-toggle {
    background-color: #fff0;
    width: 25px;
    height: 25px;
    border: 0;
    color: #fff;
    padding: 0;
    margin-left: 10px;
    outline: none;

    &:hover {
      outline: none;
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }
  .main-navigation {
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 300px;
      height: 100%;
      background-color: #fff;
      color: $color__primary;
      overflow-y: auto;
      transform: translateX(-100%);
      transition: all .3s;
      display: block;

      li {
        display: flex;
        flex-flow: column;
      }

      > li.menu-item-has-children {
        > a:after {
          display: none;
        }
      }

      .sub-menu {
        opacity: 1;
        visibility: visible;
        display: block;
        position: relative;
        top: 0;
        left: 0;
        background-color: #fff;
        box-shadow: none;
        padding-left: 10px;
        padding-top: 0;
        padding-bottom: 10px;

        a {
          font-size: 13px;
          padding-top: 5px;
          padding-bottom: 5px;
          color: $color__primary;
        }
      }


      &.is-active {
        transform: translateX(0);
      }

      ul {
        display: block;
        padding-top: 20px;
      }

      a {
        color: $color__primary;
      }
    }
  }

}
