body {
  background: $color__background-body; // Fallback for when there is no custom background color defined.
  &.is-scroll {
    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0009;
      z-index: 99;
    }
  }
}