.services-field{
  &__item{
    position: relative;
    height: 100%;
    &:before,&:after{
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
    }
    &:before{
      left: 25px;
      top: 25px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
    }
    &:after{
      bottom: 25px;
      right: 25px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }
  &__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color__primary;
      opacity: 0.7;
    }
  }
  &__content{
    color: #fff;
    padding: 70px;
    height: 100%;
  }
}

.archive-categorys{
  padding-top: 50px;
  &__item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: $color__primary;
    text-transform: uppercase;
    color: #fff;
    padding: 30px;
    width: 100%;
    position: relative;
    transition: all .3s;
    &:before,&:after{
      content: "";
      position: absolute;
      width: 100px;
      height: 30px;
      transition: all .3s;
    }
    &:before{
      left: 15px;
      top: 15px;
      border-top: 1px solid #fff;
      border-left: 1px solid #fff;
    }
    &:after{
      bottom: 15px;
      right: 15px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
    &:hover{
      background-color: $color__heading;
      &:before,&:after{
        width: calc(100% - 30px);
        height: calc(100% - 30px);
      }
    }
  }
}