.case-study{
  &__sidebar{
    padding: 15px;
    background-color: #fff;
    h2{
      font-size: 22px;
      font-weight: bold;
      margin: 0 0 10px;
      border-bottom: 1px solid #0001;
      padding-bottom: 10px;
    }
    ul{
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: -15px;
      margin-right: -15px;
      li{
        list-style: none;
        margin: 0;
        a{
          display: block;
          padding: 10px  15px;
          transition: all .3s;
          &:hover{
            color: #fff;
            background-color: rgba(96,58,20,0.5);
          }
        }
      }
    }
  }
  &__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filter{
      display: flex;
      justify-content: center;
      align-items: center;
      &__search{
        max-width: 250px;
        input{
          height: 35px;
        }
      }
      &__order{
        display: flex;
        align-items: center;
        select{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 15px;
          height: 35px;
          margin: 0 10px;
          border: 1px solid #603913;
        }
      }
    }
  }
  &__services{
  }
}
.s-heading{
  text-align: center;
}
.case-study-service{
  background-color: #fff;
  text-align: center;
  padding-bottom: 15px;
  &__heading{
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #0001
  }
  &__title{
    margin: 0;
    padding: 15px 0;
  }
  &__button{
    margin: 0 0 15px;
  }
  .btn{
    display: block;
    max-width: calc(100% - 30px);
    border-radius: 0;
    border: 1px solid #603913;
    color: #603913;
    &:hover{
      color: #fff;
    }
  }
}