#page{
  overflow: hidden;
}

.section-banner{
  padding-top: 100px;
  &.has-topbar{
    padding-top: 150px;
  }
}

.site-banner {
  display: flex;
  align-items: center;
  position: relative;
  background-color: $color__primary;

  iframe,video,img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &:before {
    content: "";
    display: block;
    padding-top: percentage(720/1280);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__wrapper {
    position: relative;
    max-width: 53%;
    z-index: 2;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__description {
    color: #f2f2f2;
    font-family: $font__text;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
    padding-right: 50px;
    margin-bottom: 30px;
  }

  &__scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
    z-index: 1;

    &:hover {
      transform: translate3d(-50%, 5px, 0);
    }
  }
}

.section {
  &__sub-heading {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;

    &:before {
      content: "";
      height: 2px;
      width: 28px;
      background-color: $color__secondary;
      margin-right: 12px;
    }
  }

  &__heading {
    color: $color__text;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 58px;
    text-shadow: 0 0 10px rgba(#000, 0.3);
    margin-top: 0;
    margin-bottom: 20px;

    &--primary {
      font-size: 120px;
    }
  }

  &__title {
    color: $color__primary;
    font-family: $font__text;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    font-family: $font__text;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
    padding: 0 30px;
    text-decoration: none;
    transition: all .3s;
    border: 2px solid $color__primary;
    height: 50px;
    color: $color__primary;
    text-transform: uppercase;
    letter-spacing: 3px;
    &:hover{
      background-color: $color__primary;
      color: #fff;
    }
  }
}

.section-about {
  background: $color__primary;
  color: #fff;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

  .section__heading {
    margin-top: 35px;
  }

  &__number {
    margin-top: 50px;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: contain;
    object-position: right;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: right;
    }
  }
}

.site-number {
  &__item {
    position: relative;

    span {
      display: flex;
    }

    &--border {
      padding-bottom: 25px;
      margin-bottom: 25px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 15%;
        height: 1px;
        background-color: #fff;
      }

    }
  }

  &__count {
    font-size: 60px;
    font-weight: 500;
    line-height: 1;

    &--plus {
      &:after {
        content: "+";
        margin-left: 20px;
      }
    }
  }

  &__label {
    font-family: $font__text;
    font-size: 18px;
    font-weight: 300;
    line-height: 2.5;
  }
}

.section-case {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 40px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-color: $color__primary;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(262deg, #00000036 12%, #000000E3 82%);
    opacity: .89;
    mix-blend-mode: darken;
    transition: background .3s, border-radius .3s, opacity .3s;
  }

  .container-layout {
    position: relative;
    z-index: 1;
  }
}

.home-slider {
  padding-top: 25px !important;
  padding-bottom: 70px !important;

  &__item {
    max-width: 50%;
  }

  &__sub-title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #fff;
    font-family: $font__text;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 38px;
  }

  &__description {
    font-size: 18px;
    margin-bottom: 25px;
    font-family: $font__text;

    p {
      margin: 0 0 10px;
      font-weight: 300;
    }
  }

  .section__link {
    color: #fff;
  }

  .swiper-pagination {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin: 5px 7px;
      background-color: #fff;

      &-active {
        background-color: #fff;
      }
    }
  }
}

.section-featured {
  color: #fff;
  padding-top: 90px;
  padding-bottom: 85px;

  .section__sub-heading{
    color: $color__heading;
  }

  &__item {
    display: flex;
    align-items: center;
    color: $color__desc;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__thumbnail {
    display: flex;
    width: 50%;

    img {
      width: 100%;
    }
  }

  &__content {
    width: 50%;
    padding: 10px 45px;
  }

  &__date {
    color: #979797;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }

  &__heading {
    color: #00172b;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
  }

  &__description {
    color: #222;
    font-family: $font__text;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
  }

  .section__link {
    color: #00172b;
    font-family: $font__text;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;

    &:after {
      margin-left: 5px;
    }

    &:hover {
      &:after {
        margin-left: 10px;
      }
    }
  }
}

.featured{
  &__heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      color: $color__heading;
      font-size: 28px;
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 60px;
        height: 1px;
        background-color: $color__secondary;
      }
    }
    .link{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      background-color: #603913;
      color: #fff;
      transition: all .3s;
      text-transform: uppercase;
      &::after {
        content: "→";
        margin-left: 5px;
        transition: margin 0.3s ease-in-out;
      }
      &:hover{
        background-color: #231f20;
      }
    }
  }
}

.grid-post {
  padding: 20px;
  background-color: #fff;
  color: #1f1f1f;
  display: flex;
  flex-flow: column;
  height: 100%;

  &__image{
    position: relative;
    margin-bottom: 15px;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 0;
      padding-top: 80%;
    }
  }
  &__category{
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    + .grid-post__title{
      margin-top: 5px !important;
    }
  }

  &__date {
    color: #979797;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }

  &__title {
    color: #222;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
  }

  &__description {
    color: #222;
    font-family: $font__text;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    flex: 1;
    margin: 0;
  }

  .site-link {
    color: #00172b;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    line-height: 20px;
    padding-bottom: 0px;
  }

  &__thumbnail {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    position: relative;

    .post-thumbnail {
      display: flex;
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:before{
      content: "";
      padding-top: 120%;
      display: block;
      width: 100%;
    }
  }
  &__thumbnail-image{
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    margin-bottom: 15px;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 0;
      padding-top: 80%;
    }
  }

  &__position {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    font-family: $font__text;
    color: $color__primary;
    text-transform: capitalize;
  }

  &.professionals {
    .grid-post {
      &__title {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        line-height: 24px;
        margin-top: 18px;
      }
    }
  }
}


.section-field {
  padding-top: 50px;
  color: #000;


  .sub-heading {
    text-align: center;
    margin-bottom: 50px;
  }

  .s-field {
    position: relative;
    background-color: #fff;

    &__content {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 50px;
      line-height: 1.6em;
      color: #000;
      background-color: #fff;
      z-index: 1;

      .title {
        font-size: 28px;
        line-height: 1em;
        margin-top: 0;
        margin-bottom: 15px;
        padding-bottom: 15px;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 60px;
          background-color: $color__secondary;
          height: 1px;
        }
      }

      p {
        margin-bottom: 0;
        margin-top: 15px;
      }
    }

    &__image {
      flex: 0 0 50%;
      max-width: 50%;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--right-content{
      .container-layout{
        display: flex;
        justify-content: flex-end;
      }
      .s-field__image{
        right: auto;
        left: 0;
      }
    }
  }
}

.section-difference {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  .heading{
    color: #fff;
    text-align: center;
    &:after{
      background-color: rgba(#fff,0.4);
    }
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: $color__primary;
    z-index: -1;
  }
}

.difference-item {
  text-align: center;
  color: #000;
  padding-bottom: 25px;

  .title {
    margin: 10px 0;
    font-size: 24px;
  }

  .description {
    margin: 0;
  }

  .image {
    display: flex;
    position: relative;
    &:before{
      content: "";
      display: block;
      padding-top: 100%;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.difference-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
section {
  .heading {
    position: relative;
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    margin: 0 0 25px;
    padding-bottom: 25px;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 60px;
      height: 1px;
      background-color: #ed2724;
      margin-left: -30px;
    }
  }
}

.section-lawyer{
  background-color: $color__primary;
  padding-top: 100px;
  padding-bottom: 100px;

  .heading{
    color: #fff;
    &:after{
      background-color: #fff4;
    }
  }


  .lawyer-slider{
    padding-bottom: 50px;
    padding-top: 25px;
    .swiper-pagination-bullet{
      border-radius: 100px;
      transition: all .3s;
      background-color: #fff4;
    }
    .swiper-pagination-bullet-active{
      width: 20px;
      background-color: #fff;
    }
  }
}

.lawyer-item{
  display: flex;
  align-items: center;
  background-color: #fff;
  .image{
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    &:before{
      content: "";
      display: block;
      padding-top: percentage(4/3);

    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content{
    flex: 0 0 70%;
    max-width: 70%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    .title{
      margin: 0 0 5px;
      font-size: 24px;
    }
    .description{
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
}

.case-study{
  padding-top: 70px;

  .container-layout{
    border-bottom: 1px solid #0001;
    padding-bottom: 50px;
  }

  &__heading{
    background-color: #603913;
    padding: 20px 15px 20px;
    color: #fff;
    .heading{
      text-align: left;
      font-size: 28px;
      &:after{
        left: 0;
        margin-left: 0;
        background-color: #fff4;
      }
    }
  }
  &__viewmore{
    text-align: right;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color__primary;
    a{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      background-color: #603913;
      color: #fff;
      transition: all .3s;
      text-transform: uppercase;
      &::after {
        content: "→";
        margin-left: 5px;
        transition: margin 0.3s ease-in-out;
      }
      &:hover{
        background-color: #231f20;
      }
    }
  }
  &__list{
    .ct-row{
      margin-bottom: 15px;
      border-bottom: 1px solid #0001;
      transition: all .3s;
      cursor: pointer;
      &:hover{
        box-shadow: 3px 3px 10px 0px #0001;
      }
    }
    .date{
      display: block;
      font-weight: bold;
    }
    .brand{

    }
    .nation{
      display: block;
      font-weight: bold;

    }
    .Province{

    }
  }
  &__item{
    .title{
      margin: 0;
    }
    .description{
      margin: 0 0 15px;
    }
    .wrapper{
      padding-top: 15px;
      display: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .site-banner {
    &__wrapper {
      width: 100%;
      max-width: 100%;
    }
  }

  .section {
    &-about {
      padding-top: 50px;
      padding-bottom: 100px;

      .section__heading {
        margin-top: 20px;
      }

      &__image {
        width: 100%;

        img {
          object-position: bottom;
        }
      }

      > .container-layout {
        position: relative;
        z-index: 1;
      }
    }

    &-case {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &__heading {
      font-size: 38px;
      margin-top: 20px;
    }

    &-featured {
      padding-top: 50px;
      padding-bottom: 50px;

      &__item {
        flex-flow: column-reverse;
      }

      &__thumbnail {
        width: 100%;
      }

      &__content {
        width: 100%;
        padding: 30px 20px;
      }
    }
  }
  .home-slider {
    &__item {
      width: 100%;
      max-width: 100%;
    }

    &__title {
      font-size: 28px;
      line-height: 36px;
    }
  }

  .section-field{
    .s-field{
      .container-layout{
        flex-wrap: wrap;
        padding: 0;
      }
      &__content{
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px 15px;
        p{
          font-size: 14px;
        }
        .title{
          font-size: 18px;
        }
      }
      &__image{
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
        &:before{
          content: "";
          display: block;
          padding-top: 300px;
        }
      }
      &--right-content{
        .container-layout{
          flex-flow: column-reverse;
        }
      }
    }
  }
  section{
    .heading{
      font-size: 28px;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }
    .sub-heading{
      font-size: 14px;
    }
  }
  .section-difference{
    padding-top: 50px;
    padding-bottom: 50px;
    .ct-row{
      margin-left: -20px;
      margin-right: -20px;
      background-color: #fff;
    }
    .ct-column-4{
      padding: 0;
      &:nth-child(2){
        .difference-item{
          background-color: #fff;
        }
      }
    }
  }
  .difference-item{
    background-color: #fff;
    .title{
      font-size: 14px;
      margin: 5px 0;
      padding: 0 5px;
    }
    .description{
      font-size: 12px;
      padding: 0 5px;
    }
  }
  .section-lawyer{
    padding-top: 50px;
    padding-bottom: 50px;
    .lawyer-slider{
      padding-top: 15px;
    }
  }
  .lawyer-item{
    flex-flow: column;
    .image{
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      &:before{
        content: "";
        padding-top: 100%;
        display: block;
        height: 0;
        width: 100%;
      }
    }
    .content{
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding: 15px;
      box-sizing: border-box;
      .title{
        font-size: 16px;
      }
      .description{
        font-size: 12px;
        margin-bottom: 0px;
      }
    }
  }
  .section{
    &__sub-heading{
      font-size: 12px;
      &:before{
        width: 18px;
      }
    }
  }
}

