.site-page {
  padding-top: 100px;
  padding-bottom: 100px;

  &__filter {
    background-color: #f0f0f0;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__search {
    max-width: 620px;
  }
  &__sidebar{
    .lawyer-item{
      .content{
        .title{
          font-size: 18px;
        }
      }
    }
  }
}

.page-header {
  background-color: $color__primary;
  padding-top: 160px;
  padding-bottom: 60px;
  color: #fff;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  &__contact {
    display: flex;

    &-item {
      + .page-header__contact-item {
        margin-left: 30px;
      }

      .single-header {
        &__field {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          font-style: normal;
          color: #fff;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #fff;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  &--thumbnail {
    position: relative;

    .post-thumbnail {
      position: absolute;
      right: 0;
      top: 0;
      width: 40%;
      height: 100%;

      @media screen and (max-width: 991px) {
        width: 80%;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, $color__primary 0%, #0005 100%);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .container-layout{
      position: relative;
      z-index: 1;
    }
  }
}

.page-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 58px;
  margin-bottom: 20px;
  margin-top: 45px;
  text-align: center;

  &__sub {
    display: block;
    color: #fff;
    font-family: $font__text;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 20px;
    line-height: 1.4;
  }
}

.page-description {
  color: #fff;
  font-family: $font__text;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  white-space: pre-line;
}

@media screen and (max-width: 991px) {
  .page-description {
    width: 100%;
    padding-right: 0;
  }
  .site-page {
    padding-top: 50px;
    padding-bottom: 50px;

    &__filter {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
