.single-post {
  background-color: #f8f8f8;
}

.single-row {
  display: flex;
  justify-content: center;
}

.single-container {
  width: 70%;
}

.single-sidebar {
  width: 30%;
}

.single-content,
.single-content--style {
  font-family: $font__text;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  padding-right: 120px;
  padding-bottom: 70px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 1px;
    background-color: $color__primary;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #002042;
    font-family: $font__main;
    margin: 0 0 20px;
    line-height: 1.5em;
  }

  p {
    margin: 0 0 10px;
  }

  ul, ol {
    margin-left: 0;
    padding-left: 20px;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--no-boder {
    padding-bottom: 0;
    &:after {
      display: none;
    }
  }

  &--style {
    padding: 0;

    &:after {
      display: none;
    }
  }
}

.single-related {
  margin-top: 75px;

  &__read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .ct-row {
    margin-left: -12px;
    margin-right: -12px;

    > div {
      padding: 12px;
    }
  }
}

.entry-meta {
  color: #979797;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  font-family: $font__main;
  margin-bottom: 20px;
}

.site-back {
  color: $color__secondary;
  font-family: $font__text;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 20px;
  display: block;

  &:before {
    content: '←';
    margin-right: 5px;
    transition: margin .3s ease-in-out;
  }
}

.single-experience {
  padding-top: 40px;
}

.single-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &__thumbnail {
    width: 34.912%;

    img {
      width: 282px;
      height: auto;
    }
  }

  &__info {
    width: 64.958%;
  }

  &__title {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;

    .entry-title {
      font-size: 48px;
      font-weight: 700;
      line-height: 58px;
      margin-top: 0;
      margin-bottom: 20px;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 10%;
      height: 2px;
      background-color: $color__secondary;
    }
  }

  &__position {
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    line-height: 20px;
    padding-top: 5px;
  }

  &__field {
    font-size: 19px;
    font-weight: 300;
    line-height: 28px;
    font-family: $font__text;

    span {
      margin-right: 5px;
    }

    a {
      transition: all .3s;

      &:hover {
        color: $color__secondary;
      }

    }
  }
}

.single-case {
  margin-top: 70px;

  .home-slider {
    &__title {
      color: #fff;
    }
  }
}

.single-section {
  padding-top: 80px;
}

@media screen and (max-width: 991px) {
  .single-container {
    width: 100%;
  }
  .single-content{
    padding-right: 0;
  }
  .single-sidebar {
    display: none;
  }
  .single-header{
    flex-flow: column;
    &__thumbnail{
      width: 100%;
    }
    &__info{
      width: 100%;
    }
  }
}