.breadcrumb {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  line-height: 18px;
  font-family: $font__text;

  a {
    font-weight: 400;
  }

  .slash {
    margin-left: 5px;
    margin-right: 5px;

    span {
      font-size: 16px;

      &:nth-child(2) {
        color: $color__secondary;
      }
    }
  }
}