.btn{
  border-style: solid;
  color: #002042;
  font-weight: 600;
  border-color: #002042;
  border-width: 1px;
  border-radius: 3px;
  padding: 12px 24px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: $font__text;
  transition: all .3s;
  &:hover{
    background-color: $color__primary;
    color: #fff;
  }
}