.search-form{
  width: 100%;
  display: flex;
  label{
    width: 100%;
    input{
      height: 50px;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 15px;
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      outline: none;
    }
  }

  .search-submit{
    background-color: $color__secondary;
    border: 1px solid $color__secondary;
    color: #fff;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-image: url("../images/magnifier.svg");
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    width: 60px;
    transition: all .3s;
    cursor: pointer;
    &:hover{
      background-color: $color__primary;
      border: 1px solid $color__primary;
    }
  }
}

.filter{
  &__select{
    position: relative;
    select{
      height: 35px;
      padding: 0 35px 0 15px;
      margin: 0 0 0 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      border-radius: 3px;
      &::-ms-expand {
        display: none;
      }
    }
    &:before{
      content: "";
      position: absolute;
      top: 48%;
      right: 10px;
      width: 8px;
      height: 8px;
      border-bottom: 3px solid #333;
      border-right: 3px solid #333;
      transform: translate3d(-50%,-50%,0) rotate(45deg);
      pointer-events: none;
    }
  }
  &-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: $color__secondary;
    border: 1px solid $color__secondary;
    padding: 0 15px;
    margin-left: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      border: 1px solid $color__primary;
      background-color: $color__primary;
    }
  }
}

.page-filter{
  margin-bottom: 30px;
}