.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget {
	padding-bottom: 20px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);

	&:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			color: #222;
			font-size: 16px;
			font-family: $font__text;
			font-weight: normal;
			margin-bottom: 10px;
			a{
				transition: all .3s;
				&:hover{
					color: $color__secondary;
				}
			}
		}
	}

	&-area {
		background-color: #fff;
		border-radius: 5px;
		padding: 20px;
		.search-field{
			border: 1px solid #0001;
		}
	}

	&-title {
		font-weight: 600;
		color: #00172b;
		margin: 0 0 10px;
		font-size: 16px;
		font-style: normal;
		line-height: 1.33;
	}

}