@charset "UTF-8";
/*!
Theme Name: lawyer
Theme URI: http://lawyer.me/
Author: Nguyễn Hải Hoàng
Author URI: http://lawyer.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: lawyer
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

lawyer is based on lawyer https://lawyer.me/, (C) 2012-2020 Automattic, Inc.
lawyer is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Poppins-ThinItalic.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Poppins-ExtraLightItalic.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Poppins-LightItalic.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Poppins-Italic.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Poppins-MediumItalic.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Poppins-SemiBoldItalic.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Poppins-BoldItalic.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Poppins-ExtraBoldItalic.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Poppins-BoldItalic.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Poppins-Thin.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/Poppins-ExtraLight.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Poppins-Light.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Poppins-Regular.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Poppins-Medium.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Poppins-SemiBold.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Poppins-Bold.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/Poppins-ExtraBold.ttf) format("ttf");
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Poppins-Bold.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/SourceSansPro-ExtraLightItalic.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/SourceSansPro-LightItalic.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/SourceSansPro-Italic.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/SourceSansPro-SemiBoldItalic.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/SourceSansPro-BoldItalic.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/SourceSansPro-BlackItalic.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/SourceSansPro-Light.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/SourceSansPro-Regular.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/SourceSansPro-SemiBold.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/SourceSansPro-Bold.ttf) format("ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/SourceSansPro-Black.ttf) format("ttf");
}

/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
  background: #f8f8f8;
}

body.is-scroll:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;
  z-index: 99;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
a {
  color: inherit;
  text-decoration: none;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
.site-header {
  padding: 20px 0;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.site-header .site-branding {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.site-header .site-branding img {
  width: auto;
  height: 54px;
}

.site-header.is-scroll {
  background-color: #002042;
  height: 100px;
}

.site-header.is-scroll .site-branding {
  opacity: 1;
}

.site-header--white .main-navigation a {
  color: #002042;
}

.site-header--white .main-navigation ul ul li a {
  color: #fff;
}

.site-header--white .main-navigation ul > li.menu-item-has-children > a:after {
  border-top: 2px solid #002042;
  border-right: 2px solid #002042;
}

.site-header--white .menu-toggle {
  color: #002042;
}

.site-header--white.is-scroll .main-navigation .menu > .menu-item > a {
  color: #fff;
}

.site-header--white.is-scroll .main-navigation ul > li.menu-item-has-children > a:after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.site-header--white.is-scroll .menu-toggle {
  color: #fff;
}

.site-header--white.is-scroll .search-open {
  color: #fff;
}

.search-open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 25px;
  height: 25px;
  padding: 4px !important;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.search-open svg {
  width: 100%;
  height: 100%;
}

.search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.search-popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.search-popup__close:after, .search-popup__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.search-popup__close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-popup__close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search-popup.is-open {
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

.search-popup .search-form {
  max-width: 620px;
}

.search-popup .search-form .search-field {
  font-size: 48px;
  height: auto;
  padding-right: 20px;
  background-color: #fff0;
  color: #fff;
  border: 0;
  text-align: center;
}

.search-popup .search-form .search-field::-webkit-input-placeholder {
  color: #ed2724;
}

.search-popup .search-form .search-field:-ms-input-placeholder {
  color: #ed2724;
}

.search-popup .search-form .search-field::-ms-input-placeholder {
  color: #ed2724;
}

.search-popup .search-form .search-field::placeholder {
  color: #ed2724;
}

.search-popup .search-form .search-submit {
  display: none;
}

.site-footer {
  padding-top: 75px;
  background-color: #fff;
}

.site-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.site-footer__row--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-footer__column {
  width: 100%;
}

.site-footer__content {
  padding-bottom: 45px;
}

.site-footer__description {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #222;
  font-family: "Source Sans Pro", Sans-serif;
  padding-right: 20px;
}

.site-footer__heading {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.site-footer__widget .textwidget p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #222;
  font-family: "Source Sans Pro", Sans-serif;
  padding-right: 20px;
}

.site-footer__widget .textwidget code {
  color: #002042;
  font-family: "Roboto", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.site-footer__widget .textwidget a {
  color: #ed2724;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
}

.site-footer__widget .textwidget a:after {
  content: '→';
  color: #ed2724;
  margin-left: 5px;
  -webkit-transition: margin .3s ease-in-out;
  transition: margin .3s ease-in-out;
}

.site-footer__widget .textwidget a:hover {
  color: #ed2724;
}

.site-footer__widget .textwidget a:hover:after {
  margin-left: 10px;
}

.site-footer__widget .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  margin: 0;
}

.site-footer__widget .menu li {
  list-style: none;
  color: #002042;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.site-footer__widget .menu li a {
  color: #002042;
  text-decoration: none;
}

.site-footer__widget .menu li + li:before {
  content: "|";
  margin-left: 6px;
  margin-right: 3px;
}

.site-footer__widget .zoom-social-icons-list {
  text-align: center;
}

.site-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 75px;
}

.site-footer__logo > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.site-footer__logo > a img {
  -o-object-fit: contain;
     object-fit: contain;
}

.site-footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  margin: 0;
}

.site-footer__menu ul li {
  list-style: none;
  color: #002042;
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.site-footer__menu ul li a {
  color: #002042;
  text-decoration: none;
}

.site-footer__menu ul li + li:before {
  content: "|";
  margin-left: 6px;
  margin-right: 3px;
}

.site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  border-top: 1px solid #d3d5d7;
}

.site-link {
  color: #ed2724;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
}

.site-link:after {
  content: '→';
  color: #ed2724;
  margin-left: 5px;
  -webkit-transition: margin .3s ease-in-out;
  transition: margin .3s ease-in-out;
}

.site-link:hover {
  color: #ed2724;
}

.site-link:hover:after {
  margin-left: 10px;
}

.site-copyright {
  color: #002042;
  font-family: "Roboto", Sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.site-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-social > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
}

.site-social > a svg {
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 991px) {
  .site-footer {
    padding-top: 50px;
  }
  .site-footer__row {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .site-footer__row--center .site-footer__column {
    margin-top: 0 !important;
  }
  .site-footer__menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-footer__content .site-footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: wrap-reverse;
            flex-flow: wrap-reverse;
  }
  .site-footer__column {
    width: 100%;
  }
  .site-footer__column + .site-footer__column {
    margin-top: 20px;
  }
  .site-footer__logo {
    padding-left: 0;
  }
}

.container {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.container-layout {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.ct-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.ct-row--midden {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ct-row--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ct-row--medium-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ct-row--padding > div {
  padding-top: 0;
  padding-bottom: 0;
}

.ct-row--col-five {
  margin-left: -12px;
  margin-right: -12px;
}

.ct-row--col-five .ct-column {
  width: 20%;
  padding: 12px;
}

.ct-column-1 {
  width: 8.33333%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-1 {
    width: 100%;
  }
}

.ct-column-2 {
  width: 16.66667%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-2 {
    width: 100%;
  }
}

.ct-column-3 {
  width: 25%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-3 {
    width: 100%;
  }
}

.ct-column-4 {
  width: 33.33333%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-4 {
    width: 100%;
  }
}

.ct-column-5 {
  width: 41.66667%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-5 {
    width: 100%;
  }
}

.ct-column-6 {
  width: 50%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-6 {
    width: 100%;
  }
}

.ct-column-7 {
  width: 58.33333%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-7 {
    width: 100%;
  }
}

.ct-column-8 {
  width: 66.66667%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-8 {
    width: 100%;
  }
}

.ct-column-9 {
  width: 75%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-9 {
    width: 100%;
  }
}

.ct-column-10 {
  width: 83.33333%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-10 {
    width: 100%;
  }
}

.ct-column-11 {
  width: 91.66667%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-11 {
    width: 100%;
  }
}

.ct-column-12 {
  width: 100%;
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling > .ct-column-12 {
    width: 100%;
  }
}

.site-main {
  padding-top: 150px;
  padding-bottom: 90px;
}

@media screen and (max-width: 991px) {
  .ct-row--doubling .ct-column {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
.main-navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul > li.menu-item-has-children > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation ul > li.menu-item-has-children > a:after {
  content: "";
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  display: block;
  margin-left: 10px;
  margin-top: -6px;
}

.main-navigation ul ul {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
  background-color: #002042;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  white-space: nowrap;
}

.main-navigation ul ul a:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background-color: #ed2724;
  margin-right: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-bottom: 5px;
}

.main-navigation ul ul a:hover:before {
  width: 20px;
  margin-right: 5px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation li:hover > ul,
.main-navigation li.focus > ul {
  opacity: 1;
  visibility: visible;
}

.main-navigation a {
  padding: 12px 20px;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: #fff;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 991px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.navigation {
  margin-top: 20px;
}

.navigation .nav-previous a:before {
  content: '←';
  color: #ed2724;
  margin-right: 5px;
  -webkit-transition: margin .3s ease-in-out;
  transition: margin .3s ease-in-out;
}

.navigation .nav-next a:after {
  content: '→';
  color: #ed2724;
  margin-left: 5px;
  font-weight: normal;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navigation a:hover {
  color: #002042;
}

.navigation a:hover:before {
  margin-right: 10px;
}

.navigation a:hover:after {
  margin-left: 10px;
}

@media screen and (max-width: 991px) {
  .menu-toggle {
    background-color: #fff0;
    width: 25px;
    height: 25px;
    border: 0;
    color: #fff;
    padding: 0;
    margin-left: 10px;
    outline: none;
  }
  .menu-toggle:hover {
    outline: none;
  }
  .menu-toggle svg {
    width: 25px;
    height: 25px;
  }
  .main-navigation .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 100%;
    background-color: #fff;
    color: #002042;
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all .3s;
    transition: all .3s;
    display: block;
  }
  .main-navigation .menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .main-navigation .menu > li.menu-item-has-children > a:after {
    display: none;
  }
  .main-navigation .menu .sub-menu {
    opacity: 1;
    visibility: visible;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .main-navigation .menu .sub-menu a {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #002042;
  }
  .main-navigation .menu.is-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .main-navigation .menu ul {
    display: block;
    padding-top: 20px;
  }
  .main-navigation .menu a {
    color: #002042;
  }
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Button
--------------------------------------------- */
.btn {
  border-style: solid;
  color: #002042;
  font-weight: 600;
  border-color: #002042;
  border-width: 1px;
  border-radius: 3px;
  padding: 12px 24px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Source Sans Pro", Sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  background-color: #002042;
  color: #fff;
}

/* Breadcrumb
--------------------------------------------- */
.breadcrumb {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  line-height: 18px;
  font-family: "Source Sans Pro", Sans-serif;
}

.breadcrumb a {
  font-weight: 400;
}

.breadcrumb .slash {
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumb .slash span {
  font-size: 16px;
}

.breadcrumb .slash span:nth-child(2) {
  color: #ed2724;
}

/* Search
--------------------------------------------- */
.search-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form label {
  width: 100%;
}

.search-form label input {
  height: 50px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 15px;
  width: 100%;
  border: 1px solid #fff;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.search-form .search-submit {
  background-color: #ed2724;
  border: 1px solid #ed2724;
  color: #fff;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-image: url("../images/magnifier.svg");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  width: 60px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.search-form .search-submit:hover {
  background-color: #002042;
  border: 1px solid #002042;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

.widget {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.widget:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.widget ul {
  margin: 0;
  padding: 0;
}

.widget ul li {
  list-style: none;
  color: #222;
  font-size: 16px;
  font-family: "Source Sans Pro", Sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
}

.widget ul li a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.widget ul li a:hover {
  color: #ed2724;
}

.widget-area {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.widget-area .search-field {
  border: 1px solid #0001;
}

.widget-title {
  font-weight: 600;
  color: #00172b;
  margin: 0 0 10px;
  font-size: 16px;
  font-style: normal;
  line-height: 1.33;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/* Page
--------------------------------------------- */
.site-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #002042;
}

.site-banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(110deg, #000 100%, #000000CC 100%);
  opacity: 0.55;
  z-index: 1;
}

.site-banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.site-banner__wrapper {
  position: relative;
  max-width: 53%;
  z-index: 2;
}

.site-banner__logo {
  margin-bottom: 20px;
}

.site-banner__description {
  color: #f2f2f2;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 19px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  padding-right: 50px;
  margin-bottom: 30px;
}

.site-banner__scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

.site-banner__scroll:hover {
  -webkit-transform: translate3d(-50%, 5px, 0);
          transform: translate3d(-50%, 5px, 0);
}

.section__sub-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.section__sub-heading:before {
  content: "";
  height: 2px;
  width: 28px;
  background-color: #ed2724;
  margin-right: 12px;
}

.section__heading {
  color: #f2f2f2;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 58px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 0;
  margin-bottom: 20px;
}

.section__heading--primary {
  font-size: 120px;
}

.section__title {
  color: #002042;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  line-height: 44px;
  margin-top: 0;
  margin-bottom: 20px;
}

.section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 19px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  padding: 0;
  text-decoration: none;
  color: #f2f2f2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__link:after {
  content: '→';
  color: #ed2724;
  margin-left: 10px;
  font-weight: normal;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.section__link:hover {
  color: #f2f2f2;
}

.section__link:hover:after {
  margin-left: 20px;
}

.section-about {
  background: #002042;
  color: #fff;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-about .section__heading {
  margin-top: 35px;
}

.section-about__number {
  margin-top: 50px;
}

.section-about__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}

.section-about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}

.site-number__item {
  position: relative;
}

.site-number__item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-number__item--border {
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.site-number__item--border:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 15%;
  height: 1px;
  background-color: #fff;
}

.site-number__count {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}

.site-number__count--plus:after {
  content: "+";
  margin-left: 20px;
}

.site-number__label {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 2.5;
}

.section-case {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 40px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-color: #002042;
}

.section-case:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(262deg, #00000036 12%, #000000E3 82%);
  opacity: .89;
  mix-blend-mode: darken;
  -webkit-transition: background .3s, border-radius .3s, opacity .3s;
  transition: background .3s, border-radius .3s, opacity .3s;
}

.section-case .container-layout {
  position: relative;
  z-index: 1;
}

.home-slider {
  padding-top: 25px !important;
  padding-bottom: 70px !important;
}

.home-slider__item {
  max-width: 50%;
}

.home-slider__sub-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: #fff;
  font-family: "Source Sans Pro", Sans-serif;
}

.home-slider__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 38px;
}

.home-slider__description {
  font-size: 18px;
  margin-bottom: 25px;
  font-family: "Source Sans Pro", Sans-serif;
}

.home-slider__description p {
  margin: 0 0 10px;
  font-weight: 300;
}

.home-slider .section__link {
  color: #fff;
}

.home-slider .swiper-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
}

.home-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background-color: #fff;
}

.home-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.section-featured {
  background-color: #002042;
  color: #fff;
  padding-top: 90px;
  padding-bottom: 85px;
}

.section-featured__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00172b;
  background-color: #fff;
  margin-top: 40px;
  margin-bottom: 20px;
}

.section-featured__thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.section-featured__thumbnail img {
  width: 100%;
}

.section-featured__content {
  width: 50%;
  padding: 10px 45px;
}

.section-featured__date {
  color: #979797;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.section-featured__heading {
  color: #00172b;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}

.section-featured__description {
  color: #222;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.section-featured .section__link {
  color: #00172b;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
}

.section-featured .section__link:after {
  margin-left: 5px;
}

.section-featured .section__link:hover:after {
  margin-left: 10px;
}

.grid-post {
  padding: 20px;
  background-color: #fff;
  color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

.grid-post__date {
  color: #979797;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.grid-post__title {
  color: #222;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}

.grid-post__description {
  color: #222;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grid-post .site-link {
  color: #00172b;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  padding-bottom: 20px;
}

.grid-post__thumbnail {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}

.grid-post__thumbnail .post-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-post__position {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  font-family: "Source Sans Pro", Sans-serif;
  color: #002042;
  text-transform: capitalize;
}

.grid-post.professionals .grid-post__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  margin-top: 18px;
}

@media screen and (max-width: 991px) {
  .site-banner__wrapper {
    width: 100%;
    max-width: 100%;
  }
  .section-about {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .section-about .section__heading {
    margin-top: 20px;
  }
  .section-about__image {
    width: 100%;
  }
  .section-about__image img {
    -o-object-position: bottom;
       object-position: bottom;
  }
  .section-about > .container-layout {
    position: relative;
    z-index: 1;
  }
  .section-case {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section__heading {
    font-size: 38px;
    margin-top: 20px;
  }
  .section-featured {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-featured__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .section-featured__thumbnail {
    width: 100%;
  }
  .section-featured__content {
    width: 100%;
    padding: 30px 20px;
  }
  .home-slider__item {
    width: 100%;
    max-width: 100%;
  }
  .home-slider__title {
    font-size: 28px;
    line-height: 36px;
  }
}

.single-post {
  background-color: #f8f8f8;
}

.single-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-container {
  width: 70%;
}

.single-sidebar {
  width: 30%;
}

.single-content,
.single-content--style {
  font-family: "Source Sans Pro", Sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  padding-right: 120px;
  padding-bottom: 70px;
  position: relative;
}

.single-content:after,
.single-content--style:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 1px;
  background-color: #002042;
}

.single-content h1, .single-content h2, .single-content h3, .single-content h4, .single-content h5, .single-content h6,
.single-content--style h1,
.single-content--style h2,
.single-content--style h3,
.single-content--style h4,
.single-content--style h5,
.single-content--style h6 {
  color: #002042;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0 0 20px;
  line-height: 1.5em;
}

.single-content p,
.single-content--style p {
  margin: 0 0 10px;
}

.single-content ul, .single-content ol,
.single-content--style ul,
.single-content--style ol {
  margin-left: 0;
  padding-left: 20px;
}

.single-content ul li, .single-content ol li,
.single-content--style ul li,
.single-content--style ol li {
  margin-bottom: 10px;
}

.single-content ul li:last-child, .single-content ol li:last-child,
.single-content--style ul li:last-child,
.single-content--style ol li:last-child {
  margin-bottom: 0;
}

.single-content--no-boder,
.single-content--style--no-boder {
  padding-bottom: 0;
}

.single-content--no-boder:after,
.single-content--style--no-boder:after {
  display: none;
}

.single-content--style,
.single-content--style--style {
  padding: 0;
}

.single-content--style:after,
.single-content--style--style:after {
  display: none;
}

.single-related {
  margin-top: 75px;
}

.single-related__read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.single-related .ct-row {
  margin-left: -12px;
  margin-right: -12px;
}

.single-related .ct-row > div {
  padding: 12px;
}

.entry-meta {
  color: #979797;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin-bottom: 20px;
}

.site-back {
  color: #ed2724;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  margin-bottom: 50px;
  display: block;
}

.site-back:before {
  content: '←';
  margin-right: 5px;
  -webkit-transition: margin .3s ease-in-out;
  transition: margin .3s ease-in-out;
}

.single-experience {
  padding-top: 40px;
}

.single-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.single-header__thumbnail {
  width: 34.912%;
}

.single-header__thumbnail img {
  width: 282px;
  height: auto;
}

.single-header__info {
  width: 64.958%;
}

.single-header__title {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.single-header__title .entry-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin-top: 0;
  margin-bottom: 20px;
}

.single-header__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 2px;
  background-color: #ed2724;
}

.single-header__position {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  line-height: 20px;
  padding-top: 5px;
}

.single-header__field {
  font-size: 19px;
  font-weight: 300;
  line-height: 28px;
  font-family: "Source Sans Pro", Sans-serif;
}

.single-header__field span {
  margin-right: 5px;
}

.single-header__field a {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.single-header__field a:hover {
  color: #ed2724;
}

.single-case {
  margin-top: 70px;
}

.single-case .home-slider__title {
  color: #fff;
}

.single-section {
  padding-top: 80px;
}

@media screen and (max-width: 991px) {
  .single-container {
    width: 100%;
  }
  .single-content {
    padding-right: 0;
  }
  .single-sidebar {
    display: none;
  }
  .single-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .single-header__thumbnail {
    width: 100%;
  }
  .single-header__info {
    width: 100%;
  }
}

.site-page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.site-page__filter {
  background-color: #f0f0f0;
  padding-top: 70px;
  padding-bottom: 70px;
}

.site-page__search {
  max-width: 620px;
}

.page-header {
  background-color: #002042;
  padding-top: 160px;
  padding-bottom: 60px;
  color: #fff;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.page-header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__contact-item + .page-header__contact-item {
  margin-left: 30px;
}

.page-header__contact-item .single-header__field {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.page-header__contact-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}

.page-header--thumbnail {
  position: relative;
}

.page-header--thumbnail .post-thumbnail {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .page-header--thumbnail .post-thumbnail {
    width: 80%;
  }
}

.page-header--thumbnail .post-thumbnail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#002042), to(#0005));
  background-image: linear-gradient(90deg, #002042 0%, #0005 100%);
}

.page-header--thumbnail .post-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-header--thumbnail .container-layout {
  position: relative;
  z-index: 1;
}

.page-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  line-height: 58px;
  margin-bottom: 20px;
  margin-top: 45px;
}

.page-title__sub {
  display: block;
  color: #fff;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: 35px;
  margin-bottom: 20px;
}

.page-description {
  color: #fff;
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  padding-right: 250px;
}

@media screen and (max-width: 991px) {
  .page-description {
    width: 100%;
    padding-right: 0;
  }
  .site-page {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .site-page__filter {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */