/*!
Theme Name: lawyer
Theme URI: http://lawyer.me/
Author: Nguyễn Hải Hoàng
Author URI: http://lawyer.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: lawyer
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

lawyer is based on lawyer https://lawyer.me/, (C) 2012-2020 Automattic, Inc.
lawyer is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

// Import variables and mixins.
@import "abstracts/abstracts";

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
@import "fonts";

/* Normalize
--------------------------------------------- */
@import "generic/normalize";

/* Box sizing
--------------------------------------------- */
@import "generic/box-sizing";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "base/base";

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
@import "layouts/header";
@import "layouts/footer";
@import "layouts/container";
@import "layouts/sidebar";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components/components";

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */
@import "plugins/jetpack/infinite-scroll";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */
@import "utilities/accessibility";

/* Alignments
--------------------------------------------- */
@import "utilities/alignments";

/* Page
--------------------------------------------- */
@import "pages/home";
@import "pages/single";
@import "pages/page";
@import "pages/archive";
@import "pages/case-study";

.wpcf7-form{
  p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  input,textarea{
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }
  input{
    height: 40px;
  }
  label{
    font-size: 12px;
    letter-spacing: 3px;
    color: $color__primary;
    text-transform: uppercase;
  }
  .wpcf7-submit{
    max-width: 200px;
    height: 50px;
    border: 0;
    background-color: $color__primary;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    float: right;
  }
}
